:root {
    --primary-color: #d2b48c; /* Cream Brown */
    --background-color: #0f0f0f; /* Black */
    --text-color: #ffffff; /* White */
    --secondary-text-color: #BDBDBD; /* Dark Gray */
    --font-family: 'Roboto Mono', monospace, sans-serif;
    
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
}